body{
	margin: 5%;
	background: url(/img/dinosaur.jpg) black no-repeat;
	background-position: center; 
	background-size: 100%;
}

.content-text-style {
	color: white;
	list-style: none;
	padding-left: 5%;
	margin-left: 5%;
}

.pic-about-ben{
	max-height: 336px;
	width: 225px;
	margin-left: 50px;
	margin-top: 20px;
}

.about-me-content{
	background-color: rgba(0,0,0,0.6);
	margin-top: 20px;
	padding-bottom: 10px;
}

a:hover{
	background: black;
	color:red;
}