.container_about{
  background-color: rgba(0,0,0,0.8);
  margin-top: 10%;
  padding-top: 5%;
  padding-bottom: 5%;

  .about-content-text {
  	color: white;
  	list-style: none;
  	padding-left: 5%;
  	margin-left: 5%;
  }
  .about-me-content{
    display: flex;
    .pic-about-ben{
      border-radius: 5%;
    	max-height: 336px;
    	width: 225px;
    	margin-left: 50px;
    	margin-top: 20px;
    }
  }
  .content{
    // flex-wrap: wrap;
    max-width: 50%;
  }
}
